.cart_count {
    padding: 2px 6px;
    border-radius: 100%;
    font-size: 12px;

    background-color: #DE3838;
    
    color: white;
    margin-left: -10px;
}

.container {
    position: relative;

}