.card{
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 4px 4px;
    cursor: pointer;

    width: 256px;
}

.card img {
    width: 256px;
    height: 300px;
}

.card h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: #41414D;
}

.card p {
    font-weight: 600;
    color: #090904;
    font-size: 14px;
    line-height: 150%;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 8px 12px;

}

.card > div {
    width: 228px;
    height: 1px;
    margin: 8px 0;
    padding: 0;
    background: var(--clr-dark); 
 }
